<div class="header_block">
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <!-- <a class="navbar-brand" routerLink="/">NEMO</a> -->
        <img src="../../../assets/images/logo.png" alt="" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav my-2 my-lg-0 ml-auto">
            <li class="nav-item" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/team">TEAM</a>
            </li>
            <li class="nav-item" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/getintouch">Get In Touch </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="side_bg_block">
  <div class="content_block">
    <div class="container">
      <div class="about_block">
        <div class="heading">
          <h1>About <b> NEMO</b></h1>
        </div>
        <div class="description">
          <p>
            Jeevan has over 12 years of deep technology experience and has worked with tech behemoths such<br> as
            Qualcomm,
            ARM, NVIDIA, AMD, Broadcom and Infineon across the UK and India. He is also an ex-entrepreneur<br> who
            brings
            expertise in corporate strategy, business development and P&L management, He is an MBA from<br> IIM
            Ahmedabad and
            B.Tech. in Electronics from JNTU Hyderabad
          </p>
        </div>
      </div>
      <div class="grid_block">
        <div class="row">
          <div class="col-md-6">
            <div class="card_block">
              <div class="img_block">
                <img src="../../../assets/images/jeevan.png" alt="">
              </div>
              <div class="txt_block">
                <h2>Jeevan Gopisetty</h2>
                <p>Co-Founder & CEO</p>
              </div>
              <div class="paragraph_block">
                <p>
                  Jeevan has over 12 years of deep technology<br> experience and has worked with tech behemoths<br> such as
                  Qualcomm, ARM, NVIDIA, AMD, Broadcom<br> and Infineon across the UK and India. He is also an<br>
                  ex-entrepreneur who brings expertise in corporate<br> strategy, business development and P&L<br> management,
                  He is an MBA from IIM Ahmedabad<br> and B.Tech. in Electronics from JNTU Hyderabad
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card_block">
              <div class="img_block">
                <img src="../../../assets/images/ashish.png" alt="">
              </div>
              <div class="txt_block">
                <h2>Jeevan Gopisetty</h2>
                <p>Co-Founder & CEO</p>
              </div>
              <div class="paragraph_block">
                <p>
                  Jeevan has over 12 years of deep technology<br> experience and has worked with tech behemoths<br> such as
                  Qualcomm, ARM, NVIDIA, AMD, Broadcom<br> and Infineon across the UK and India. He is also an<br>
                  ex-entrepreneur who brings expertise in corporate<br> strategy, business development and P&L<br> management,
                  He is an MBA from IIM Ahmedabad<br> and B.Tech. in Electronics from JNTU Hyderabad
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
