<div class="header_block">
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" routerLink="/home">NEMO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav my-2 my-lg-0 ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./team">TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./getintouch">Get In Touch </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="main_block">
  <div class="container-fluid">
    <div class="bg_img_block">
    </div>
    <div class="bg_layer"></div>
    <div class="content_block">
      <div class="first_header_block">
        <h2>On a mission to enhance the competitiveness of</h2>
      </div>
      <div class="second_header_block">
        <h1>India's 60 Million MSME’s</h1>
      </div>
      <div class="btn_block">
        <button type="button">Coming Soon</button>
      </div>
    </div>
  </div>
</div>
