<div class="header_block">
  <div class="container-fluid">
    <nav class="navbar  navbar-expand-lg navbar-light">
      <div class="container">
        <!-- <a class="navbar-brand" routerLink="/">NEMO</a> -->
        <img src="../../../assets/images/logo.png" alt="" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav my-2 my-lg-0 ml-auto">
            <li class="nav-item" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/team">TEAM</a>
            </li>
            <li class="nav-item active" routerLinkActiveOptions="{exact: true}">
              <a class="nav-link" routerLink="/getintouch">Get In Touch </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="gt_content_block">
  <div class="container">
    <div class="container">
      <div class="gt_header">
        <h1>Get in <b>Touch</b></h1>
      </div>
      <div class="grid_block">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="info_block">
              <div class="grid_header">
                <img src="../../../assets/images/mail.svg" alt="">
                <h3>Email us at</h3>
              </div>
              <div class="txt">
                <p class="plain m-0">For Business enquiries</p>
                <p class="color m-0">sales@gonemo.io</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="info_block">
              <div class="grid_header">
                <img src="../../../assets/images/phone.svg" alt="">
                <h3>Contact us at</h3>
              </div>
              <div class="txt">
                <p class="plain m-0"> Hyderabad, India</p>
                <p class="color m-0">+91 000 111 2222</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="info_block">
              <div class="grid_header">
                <img src="../../../assets/images/time.svg" alt="">
                <h3>Working Hours</h3>
              </div>
              <div class="txt">
                <p class="plain m-0">Days :</p>
                <p class="color m-0">Monday - Thursday</p>
              </div>
            </div>
          </div>
        </div>
        <div class="leave_block">
          <div class="gt_header">
            <h1> Leave a <b>Message </b></h1>
            <p>Leave a message and We’ll get back to you shortly.</p>
          </div>
          <form action="">
            <div class="form_block">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="input_block">
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="text" class="form-control" name="" id="name" placeholder="Your full name">
                    </div>
                  </div>
                  <div class="input_block">
                    <div class="form-group">
                      <label for="">Name of Organisation</label>
                      <input type="text" class="form-control" name="" id="name"
                        placeholder="Leave it Empty if you don’t have a name">
                    </div>
                  </div>
                  <div class="input_block">
                    <div class="form-group">
                      <label for="">Contact Number</label>
                      <input type="text" class="form-control" name="" id="name"
                        placeholder="Please enter your land or mobile phone">
                    </div>
                  </div>
                  <div class="input_block">
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="text" class="form-control" name="" id="name" placeholder="Your email address">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="input_block">
                    <div class="form-group">
                        <label for="">Your message</label>
                      <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="btn_block">
            <button type="button">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
